.body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container-1 {

background-color: #1f2937;
padding: 20px;

}
.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 color: #FFFFFF;

}

.logo{

    font-size: 24px;
    
}

.navigation, ul{
    display: flex;
    list-style: none;
}

.navigation, ul, li{

    margin-left: 20px;
    font-size: 18px;
}

.info{

display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
flex-flow: row-reverse;
gap: 100px;
margin: 30px;
}   

.awesome {
display: flex;
flex-direction: column;
width: -webkit-fill-available;
margin-left: 200px;
color: #FFFFFF;
font-size: 48px;

}

.img1{
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
    margin-top: 20px;
    align-self: baseline;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.img2{

display: flex;
flex-direction: column;
align-items: center;
flex-flow: column;

}

figcaption{

    text-align: center;
}

.container-2{
background-color: #E5E7EB;
padding-top: 100px;
padding-bottom: 100px;
padding-left: 300px;
padding-right: 300px;
display: flex;
justify-content: center;
align-items: center;
font-size: 32px;
}


p{
    font-size: 32px;
}

.container-3{

    background-color: #3882f6;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 25px;
justify-content: center;
display: flex;
height: 100px;
width: 850px;
padding-top: 50px;

}

.last{

display: flex;
flex-direction: column;
width: 600px;

}

.button-2{

    display: flex;
    flex-direction: row;
    align-self:self-end;
    width: 100px;
    height: 50px;
    
}